<!-- Profile avatar/bio section -->
<div class="container main-container">
  <div class="section no-pad-bot" id="profile-banner">
    <div class="row justify-content-center" id="profile-header-row">
      <div class="col p-4 bg-current text-center">
        {{!-- <i class="material-icons" style="font-size: 200px; align-items: center;">account_circle</i> --}}
        <h5><strong>Welcome to WORKDAY PLANNER</strong></h5>
        <p>
          {{!-- {{dataValues.bio_statement}} --}}
          <a href="/login">Login</a> to start planning your day.
        </p>
      </div>
    </div>
  </div>
</div>