<form class="col-12 white-text" id="login" name="login" method="POST" action="/login">
    <div class="form-group">
        <label for="email">Email address:</label>
        <input type="email" placeholder="email address" name="email" type="email" class="form-control" id="email">
    </div>
    <div class="form-group">
        <label for="pwd">Password:</label>
        <input type="password" name="password" class="form-control" id="pwd">
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
</form>