<div class="container-lg container-fluid mb-3" id="mainContentContainer">
    <h1 class="pb-4 text-center">Welcome, {{email}}!</h1>
    <!-- Timeblocks go here -->
    <div class="row justify-content-center" id="containerRow"></div>
    <!-- AJAX Content DIV  -->
    <div class="row justify-content-center my-3" id="dayinHistory">
        <blockquote class="blockquote px-4">
            <h4 class="font-weight-bold">This Month in History:</h4>
            <p id="blockquoteHeadline"></p>
            <p class="lead" id="blockquoteBody"></p>
            <footer class="blockquote-footer"><span id="articleDate"></span>, <cite class="text-info"
                    id="articleSource"></cite></footer>
        </blockquote>
    </div>
</div>