{{!-- header  --}}

<header class="jumbotron text-center py-3 bg-dark text-white rounded-0">
    <div class="container">
        <h1 class="display-4 font-weight-bold">Workday Planner</h1>
        <p class="lead">A simple calendar app for scheduling your work day</p>
        <div class="row" id="dateRow">
            <p class="col-2 chevrons" id="leftChevron">
                <i class="fa fa-chevron-left"></i>
            </p>
            <p id="currentDay" class="col text-date"></p>
            <p class="col-2 chevrons" id="rightChevron">
                <i class="fa fa-chevron-right"></i>
            </p>
        </div>
        <div class="row justify-content-end">
            <button class="fa fa-cog" id="timeSettingsBtn" disabled></button>
        </div>
        <div id="modals-div" class="">
            <div id="settings-modal" class="modal settings-modal">
                <div class="settings-modal-content">
                    <h3>Time Settings</h3>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="container-lg container-fluid mb-3" id="mainContentContainer" data-received-session="{{loggedIn}}">
    <h1 class="pb-4 text-center">Welcome, {{user.firstName}}!</h1>
    <!-- Timeblocks go here -->
    <div data-userid={{userID}} class="row justify-content-center" id="containerRow"></div>
    <!-- AJAX Content DIV  -->
    <div class="row justify-content-center my-3" id="dayinHistory">
        <blockquote class="blockquote px-4">
            <h4 class="font-weight-bold">This Month in History:</h4>
            <p id="blockquoteHeadline"></p>
            <p class="lead" id="blockquoteBody"></p>
            <footer class="blockquote-footer"><span id="articleDate"></span>, <cite class="text-info"
                    id="articleSource"></cite></footer>
        </blockquote>
    </div>
</div>

<script>
    document.getElementById(`nav-planner-link`).classList.add(`active`)
</script>
<!-- own JS  -->
<script src="./dist/planner.js"></script>