<div class="signup-container col col-md-6">
    <h3 class="text-center">Sign up and start planning your day, today!</h3>
    <form class="w-75" id="signup" name="signup" method="post" action="/signup">
        <div class="form-group">
            <label for="email">First Name</label>
            <input type="text" placeholder="First Name" name="firstname" class="form-control" id="first-name" required>
        </div>
        <div class="form-group">
            <label for="email">Last Name</label>
            <input type="text" placeholder="Last Name" name="lastname" class="form-control" id="last-name" required>
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" placeholder="Email" name="email" class="form-control" id="email" required>
        </div>
        <div class="form-group">
            <label for="pwd">Password:</label>
            <input type="password" autocomplete="new-password" placeholder="password" name="password"
                onchange='check_pwd()' class="form-control" id="pwd" required>
        </div>
        <div class="form-group">
            <label for="pwd">Confirm Password:</label>
            <input type="password" autocomplete="new-password" name="password2" placeholder="Confirm"
                onchange='check_pwd()' class="form-control" id="pwd2" required>
        </div>
        <button id="login-submit" type="submit" class="btn btn-primary" disabled>Submit</button>
    </form>
</div>
<script>
    function check_pwd() {
        if (document.getElementById('pwd').value ===
            document.getElementById('pwd2').value) {
            document.getElementById('login-submit').disabled = false;
        } else {
            document.getElementById('login-submit').disabled = true;
        }
    }
</script>