/* @import "./global/reset.css"; */

html {
	min-height: 100%;
	position: relative;
}

body {
	margin-bottom: 60px;
}

* {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
		Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

:root {
	--orange: #ff783a;
	--backgroundcolor: #f7f7f7 !important;
	--black: #070707 !important;
	--black-faded-1: #070707c7 !important;
	--white: #f4f4f4 !important;
	--white-faded-1: #f4f4f4e0 !important;
	--gray: #a7a7a7 !important;
	--link-blue: #007bff !important;
	--color-past: #797979 !important;
	--color-current: #b7b7b7 !important;
	--color-future: #59c044 !important;
}

header {
	background: url("images/workdayplanner1.jpg");
	min-height: 269px;
}

header > .container {
	background: var(--white-faded-1);
	color: var(--black);
}

header h1,
header p {
	margin-bottom: 1rem;
}

blockquote {
	margin-bottom: 0.5rem;
	padding-top: 1rem;
	text-align: center;
}

form#signup,
form#login {
	margin: auto;
}

form#demo-login {
	font-size: 12px;
	margin: auto;
	margin-top: 3rem;
}

#blockquoteBody {
	text-align: justify;
}

#profile-header-row {
	line-height: 32px;
	padding: 6rem 1rem;
}

.login-container,
.signup-container {
	margin-top: 2.65rem;
}

.text-date {
	color: var(--orange);
	font-size: 1.7rem;
	font-weight: 700;
	word-wrap: break-word;
}

.bg-past {
	background: var(--color-past);
	color: var(--white-faded-1);
}

.bg-current {
	background: var(--color-current);
}

.bg-future {
	background: var(--color-future);
}

.bg-gray {
	background: #dbdbdb;
}

.footer {
	/* Vertically center the text there */
	background-color: var(--backgroundcolor);
	border-top: 1px solid #000;
	bottom: 0;
	height: 30px;
	left: 0;

	/* Set the fixed height of the footer here */
	line-height: 50px;
	position: absolute;
	right: 0;
	width: 100%;
}

.link-button {
	background: none;
	border: none;
	color: var(--link-blue);
	cursor: pointer;
	text-decoration: none;
}

.link-button:focus {
	outline: none;
}

.disable-click {
	pointer-events: none;
}

.timeSlotRow {
	height: 70px;
}

.time-display {
	border-top: 1px solid #888;
	padding-top: 0.5rem;
}

.note-slots {
	border: none;
	height: 50px;
	height: 100%;
	padding-left: 0.25rem;
	resize: none;
}

.fa-save {
	font-size: 18px;
}

.chevrons:hover {
	background: #292b2c34;

	/* opacity: .2; */
}

/* The Modal (background) */

.modal {
	/* Enable scroll if needed */
	background-color: var(--black);

	/* Fallback color */
	background-color: var(--black-faded-1);
	display: none;

	/* Full width */
	height: 100%;

	/* Location of the box */
	left: 0;

	/* Full height */
	overflow: auto;

	/* Sit on top */
	padding-top: 100px;

	/* Hidden by default */
	position: fixed;
	top: 0;
	width: 100%;

	/* Stay in place */
	z-index: 1;

	/* Black w/ opacity */
}

/* Modal Content */

.settings-modal-content {
	background-color: var(--backgroundcolor);
	border: 1px solid #888;
	margin: auto;
	padding: 20px;
	text-align: center;
	width: 68%;
}

@media screen and (max-width: 576px) {
	.modal-content {
		font-size: small;
		padding: 20px;
		width: 100%;
	}
}

/* The Close Button */

.close {
	color: var(--gray);
	float: right;
	font-size: 8px;
	font-weight: 600;
}

.modal-save-button {
	background: #0084ffda;
	margin-top: 0.25em;

	/* float: right; */
	padding: 0.5em 1em;
}
